{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset("css/record.css")}}"/>
{% endblock %}
{% block body %}

<div class="row">
    <div class="col-3"></div>
    <div class="col-3">
        <img class="record" src="{{ asset("record-images/queen-we-wil-rock-you")}}" ></div>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
</div>
{% endblock %}
