
/* top bar content*/
.top-bar{
    height: 50px;
    padding: 10px;
    margin-bottom: 30px;
    z-index: 9999;
}

.login-text{
    color: black;
    font-size: 30px;
}

.login-text a{
    color: black;
    padding: 5px;
}

.login-text a:link{
    color: black;
    text-decoration: none;
}

.login-text a:hover {
    text-decoration: underline;
  }

.top-bar-logo{
    height: 55px;
    padding-right: 10px;
    float: left;
}

.top-bar-logo-text{
    height: 40px;
    float: left;
}

.top-bar-cart img{
    height: 70px;
    width: 70px;
    transition: all 0.4s ease;
}

.top-bar-cart img:hover{
    background-color: rgb(219, 219, 219);
}

.top-bar-menu img{
    height: 70px;
    width: 70px;
    cursor: pointer;
    transition: all 0.4s ease;
 
}

.top-bar-menu img:hover{
    background-color: rgb(219, 219, 219);
}

#dropdown {
    padding-top: 7%;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0; /* Initially hidden */
    background-color: white;
    z-index: 9998;
    overflow: hidden;
    transition: height 0.5s ease, visibility 0.5s ease;; /* Smooth transition */
}

#dropdown.open {
    visibility: visible;
    height: 100%; 
}

.dropdown-item {
    font-size: 100px;
}


/* -------------------------------------------------------------- */

/* bottom bar content*/
.bottom-bar{
    color: gray;
    background-color: black;
    padding: 30px;
}

.bottom-bar a{
    color: #808080;
    
}

.bottom-bar a:link{
    color: gray;
    text-decoration: none;
}

.bottom-bar a:hover {
    text-decoration: underline;
  }

.bottom-bar ul{
    list-style-type: none;
}
.bottom-bar li{
    margin-bottom: 10px; 
}

ul[title]::before {
    content: attr(title);
    display: block;
    font-weight: bold;
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}

.bottom-bar-icon {
    height: 1.5em;
    width: 1.5em;
}

.bottom-bar-logo{
    justify-content: end;
}

.no-scroll {
    overflow: hidden;
}

/* -------------------------------------------------------------- */

/* site wide css */

.flex{
    display: flex;
}

.vertical-center{
    align-items: center;
}

.right-aligned{
    float: right;
}

.flex-column{
    flex-direction: column;
}

.bold-text{
    font-weight: bold !important;
}

.grid {
    display: grid;
    grid-template-columns: auto;
}

.grid-2 {
    display: grid;
    grid-template-columns: auto auto;
}