/* top bar content*/
.top-bar{
    height: 50px;
    padding: 10px;
    margin-bottom: 20px;
}


.login-text{
    color: black;
    font-size: 30px;
    font-weight: bold;
    
}

.login-text a{
    color: black;
    padding: 5px;
}

.login-text a:link{
    color: black;
    text-decoration: none;
}

.login-text a:hover {
    text-decoration: underline;
  }

.logo{
    height: 55px;
    padding-right: 10px;
    float: left;
}

.logo-text{
    height: 40px;
    float: left;
}

/* -------------------------------------------------------------- */

/* bottom bar content*/
.bottom-bar{
    color: gray;
    font-weight: bold;
    background-color: black;
    padding: 30px;
}

.bottom-bar a{
    color: gray;
    
}

.bottom-bar a:link{
    color: gray;
    text-decoration: none;
}

.bottom-bar a:hover {
    text-decoration: underline;
  }

.bottom-bar ul{
    list-style-type: none;
}
.bottom-bar li{
    margin-bottom: 10px; 
}

ul[title]::before {
    content: attr(title);
    display: block;
    font-weight: bold;
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}

.right-aligned{
    float: right;
}

.flex{
    display: flex;
}
.bottom-bar-logo{
    justify-content: end;
}

.vertical-center{
    align-items: center;
}

/* -------------------------------------------------------------- */

