/* main content */
.featured-content-background{
    background-image: url("../images/runtime-records-backdrop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
}

.record-listing{
    margin: 30px;
}

.featured-content{
    margin: 50px;
}

.gray-box{ /*for testing purposes */
    background-color: gray;
    height: 300px;
    width: 300px;
    position: relative; 
    top: 25%;
}

.pink-box{ /*for testing purposes */
    background-color: pink;
    height: 80%;
    width: 80%;
    position: relative;
    left: 15%;
    top: 10%;
}

