/* main content */
.featured-content-background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.315),rgba(0, 0, 0, 0.384)) , url("../images/runtime-records-backdrop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
}

.featured-artist{
    color: rgba(134, 134, 134, 0.788);
}

.featured-title{
    font-size: 60px;
}

.featured-content{
    margin: 50px;
}

.featured-description{
    font-size: 22px;
    max-height: 250px;
    overflow: hidden;
}
 

.featured-add-shopping-cart{
    width: 50px;
    height: 50px;
}

.featured-image{
    height: 400px;
    width: 400px;
}

.center-image-flex{
    display: flex;
    justify-content: center;
}

.flex-column{
    flex-direction: column;
}

.record-genres{
    font-weight: bold;
    font-size: 20px;
}

.record-genres a{
    text-decoration: none;
    color: #E84E0F;
}

.record-genres a:hover {
    filter: saturate(0.5);
}

.search-bar-margin{
    margin: 10px;
}

.record-grid-container{
    display: grid;
    justify-content: space-evenly;
    padding: 20px;
    gap: 10px 10px;

}

.record-grid-template{
    grid-template-columns: auto auto auto auto
}

.record-grid-item{
    width: 20vw;
}

.record-listing-title{
    font-size: 30px;
}

.record-listing-artist{
    font-size: 20px;
    color: rgba(134, 134, 134, 0.788);
}

