{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}

<div class="row">
    <h1>Artists</h1>
    <div class="col-12">
        <a href="{{ path("app_artist_index") }}">
            <button type="button" class="btn btn-primary"> go to artist</button>
        </a>
    </div>
</div>

<div class="row">
    <h1>Records</h1>
    <div class="col-12">
        <a href="{{ path("app_record_index") }}">
            <button type="button" class="btn btn-primary"> go to record</button>
        </a>
    </div>
</div>

<div class="row">
    <h1>Genres</h1>
    <div class="col-12">
        <a href="{{ path("app_genre_index") }}">
            <button type="button" class="btn btn-primary"> go to genre</button>
        </a>
    </div>
</div>


{% endblock %}
