{% extends 'base.html.twig' %}

{% block title %}
Hello HomepageController!

{% endblock %}

{% block body %}

<div>
    <img src="{{ asset('images/disc-payoff.svg') }}" alt="Logo Image"/>
    <img src="{{ asset('images/runtime-records-logo.svg') }}" alt="Logo Image">
</div>
<div>
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>aaaaaaaaaaaaaaaaaaaaaaa</code></li>
        <li>Your template at <code>C:/Users/aaron/educom-runtime-records/templates/homepage/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
