{% extends 'base.html.twig' %}

{% block title %}
Hello HomepageController!

{% endblock %}

{% block body %}


<div class="row featured-content-background">

    <div class="col-1"></div>

    <div class="col-6">
        <div class="pink-box">
        </div>
    </div>

    <div class="col-4">
        <div class="gray-box">
        </div>
    </div>

    <div class="col-1"></div>
</div>

{% endblock %}
